{% extends "layout.html" %}

{% block title %}
 {{book.title}}
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('user')}}">
        Decentreads
    </a>
    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
</nav>
{% endblock %}

{% block body %}
    <h1>{{book.title}}</h1>
    <h3>By {{book.author}}</h3>
    <h3>Written in {{book.year}}</h3>
    <h3>ISBN: {{book.isbn}}</h3>
    <h3>Average ratings : {{avgRating}}</h3>
    <h3>Number of ratings: {{numberOfRatings}}</h3>

    {% if done == False %}
    <form action="{{url_for('book',isbn=book.isbn)}}" method="post">
        <div class="form-group">
            <label for="review">Review</label>
            <textarea class="form-control" name="review" cols="20" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" name=rating>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}

    <table class="table" style="margin-top:10px;">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Rating</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{review.person}}</td>
                <td>{{review.rating}}</td>
                <td>{{review.review}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}