{% extends "layout.html" %}

{% block title %}
 {{book.title}}
{% endblock %}

{% block body %}
    <h1>{{book.title}}</h1>
    <h3>By {{book.author}}</h3>
    <h3>Written in {{book.year}}</h3>
    <h4>ISBN: {{book.isbn}}</h4>
    <h4>Average ratings : {{avgRating}}</h4>
    <h4>Number of ratings: {{numberOfRatings}}</h4>


    <form action="{{url_for('book', isbn = book.isbn)}}" method="POST">
        <input type="text" name = "review" value="Write a review..">
    </form>

    <h1>Reviews:</h1>
    {% for review in reviews %}
        <h4>{{review.review}}</h4>
    {% endfor %}
    {% endblock %}